In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import scipy as stats

In [2]:
Medicare_Charge_In = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Medicare_Charge_Inpatient_DRG100_DRG_Summary_by_DRG_FY2011.csv")
Medicare_Charge_In

,DRG Definition,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,37861,29228.55368,6902.381289,5514.435910
1,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,37927,23924.98059,6809.799325,5791.920242
2,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,68163,49186.95644,13614.616130,12415.825360
3,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,110983,30371.27399,8037.269492,6858.689088
4,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,62346,23300.06199,5762.881821,4508.202659
...,...,...,...,...,...
95,885 - PSYCHOSES,96597,18916.10428,7121.428077,6168.012340
96,897 - ALCOHOL/DRUG ABUSE OR DEPENDENCE W/O REH...,39977,15438.74683,4954.164344,4064.870000
97,917 - POISONING & TOXIC EFFECTS OF DRUGS W MCC,25261,38937.96299,10754.058270,9541.919322
98,918 - POISONING & TOXIC EFFECTS OF DRUGS W/O MCC,37372,16944.02823,4531.884245,3576.301028
99,948 - SIGNS & SYMPTOMS W/O MCC,57490,18401.71637,4909.515655,3989.460863

In [3]:
Medicare_Charge_Out = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Medicare_Charge_Outpatient_APC30_Summary_by_APC_CY2011.csv")
Medicare_Charge_Out

,APC,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
0,0012 - Level I Debridement & Destruction,275987,74.202956,16.147079
1,0013 - Level II Debridement & Destruction,434706,196.170070,56.133853
2,0015 - Level III Debridement & Destruction,509576,326.503444,97.156250
3,0019 - Level I Excision/ Biopsy,27860,2013.181972,330.908369
4,0020 - Level II Excision/ Biopsy,40642,3161.457873,567.156154
5,0073 - Level III Endoscopy Upper Airway,9094,899.357815,297.217209
6,0074 - Level IV Endoscopy Upper Airway,17231,6840.643287,1471.799719
7,0078 - Level III Pulmonary Treatment,229101,545.202941,97.847774
8,0096 - Level II Noninvasive Physiologic Studies,218179,757.146165,104.735983
9,0203 - Level IV Nerve Injections,6748,3708.442756,840.664003
10,0204 - Level I Nerve Injections,278325,725.316346,177.582565
11,0206 - Level II Nerve Injections,44783,1164.420424,256.476908
12,0207 - Level III Nerve Injections,510855,2279.155462,496.416817
13,"0209 - Level II Extended EEG, Sleep, and Cardi...",338180,3662.610626,757.535064
14,0265 - Level I Diagnostic and Screening Ultras...,528230,492.447806,62.338567
15,0267 - Level III Diagnostic and Screening Ultr...,1240489,1064.063446,151.824832
16,0269 - Level II Echocardiogram Without Contrast,1352348,1932.782316,398.410512
17,0270 - Level III Echocardiogram Without Contrast,72208,2797.609874,559.969609
18,0336 - Magnetic Resonance Imaging and Magnetic...,1145412,2587.647066,346.266199
19,0368 - Level II Pulmonary Tests,640987,313.941266,59.559283
20,0369 - Level III Pulmonary Tests,11653,985.004703,209.548023
21,0377 - Level II Cardiac Imaging,666726,4381.627170,744.575051
22,0604 - Level 1 Hospital Clinic Visits,4179247,107.934437,53.054135
23,0605 - Level 2 Hospital Clinic Visits,8128902,148.090689,76.188871
24,0606 - Level 3 Hospital Clinic Visits,3072033,187.297367,102.274381
25,0607 - Level 4 Hospital Clinic Visits,712390,269.274706,132.724438
26,0608 - Level 5 Hospital Clinic Visits,75870,367.363395,179.202106
27,0690 - Level I Electronic Analysis of Devices,605512,176.197085,35.544024
28,0692 - Level II Electronic Analysis of Devices,34273,645.899353,109.608500
29,0698 - Level II Eye Tests & Treatments,163523,204.154203,69.001853

In [4]:
Medicare_Provider_Charge_In = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Medicare_Provider_Charge_Inpatient_DRG100_FY2011.csv")
Medicare_Provider_Charge_In

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07692,5777.241758,4763.736264
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85714,5787.571429,4976.714286
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37500,5434.958333,4453.791667
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28000,5417.560000,4129.160000
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27778,5658.333333,4851.444444
...,...,...,...,...,...,...,...,...,...,...,...,...
163060,948 - SIGNS & SYMPTOMS W/O MCC,670041,SETON MEDICAL CENTER WILLIAMSON,201 SETON PARKWAY,ROUND ROCK,TX,78664,TX - Austin,23,26314.39130,3806.869565,3071.391304
163061,948 - SIGNS & SYMPTOMS W/O MCC,670055,METHODIST STONE OAK HOSPITAL,1139 E SONTERRA BLVD,SAN ANTONIO,TX,78258,TX - San Antonio,11,21704.72727,4027.363636,2649.727273
163062,948 - SIGNS & SYMPTOMS W/O MCC,670056,SETON MEDICAL CENTER HAYS,6001 KYLE PKWY,KYLE,TX,78640,TX - Austin,19,39121.73684,5704.368421,4058.368421
163063,948 - SIGNS & SYMPTOMS W/O MCC,670060,TEXAS REGIONAL MEDICAL CENTER AT SUNNYVALE,231 SOUTH COLLINS ROAD,SUNNYVALE,TX,75182,TX - Dallas,11,28873.09091,7663.090909,6848.545455
163064,948 - SIGNS & SYMPTOMS W/O MCC,670068,TEXAS HEALTH PRESBYTERIAN HOSPITAL FLOWER MOUND,4400 LONG PRAIRIE ROAD,FLOWER MOUND,TX,75028,TX - Dallas,12,15042.00000,3539.750000,2887.416667

In [5]:
Medicare_Provider_Charge_Out = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Medicare_Provider_Charge_Outpatient_APC30_CY2011_v2.csv")
Medicare_Provider_Charge_Out

,APC,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
0,0012 - Level I Debridement & Destruction,10029,EAST ALABAMA MEDICAL CENTER AND SNF,2000 PEPPERELL PARKWAY,OPELIKA,AL,36801,AL - Birmingham,23,78.086957,21.910435
1,0012 - Level I Debridement & Destruction,20024,CENTRAL PENINSULA GENERAL HOSPITAL,250 HOSPITAL PLACE,SOLDOTNA,AK,99669,AK - Anchorage,994,149.589749,36.623853
2,0012 - Level I Debridement & Destruction,30064,"UNIVERSITY OF ARIZONA MEDICAL CTR-UNIVERSIT, THE",1501 NORTH CAMPBELL AVENUE,TUCSON,AZ,85724,AZ - Tucson,1765,50.135411,14.541841
3,0012 - Level I Debridement & Destruction,30088,BANNER BAYWOOD MEDICAL CENTER,6644 EAST BAYWOOD AVENUE,MESA,AZ,85206,AZ - Mesa,20,112.400000,23.736000
4,0012 - Level I Debridement & Destruction,30111,"UNIVERSITY OF ARIZONA MEDICAL CTR- SOUTH CAM, THE",2800 EAST AJO WAY,TUCSON,AZ,85713,AZ - Tucson,22,152.045455,16.569091
...,...,...,...,...,...,...,...,...,...,...,...
43367,0698 - Level II Eye Tests & Treatments,520098,UNIVERSITY OF WI HOSPITALS & CLINICS AUTHORITY,600 HIGHLAND AVENUE,MADISON,WI,53792,WI - Madison,2852,211.752854,71.776392
43368,0698 - Level II Eye Tests & Treatments,520100,BELOIT MEM HSPTL,1969 W HART RD,BELOIT,WI,53511,WI - Madison,912,164.068882,65.369989
43369,0698 - Level II Eye Tests & Treatments,520116,UW HLTH PARTNERS - WATERTOWN REGIONAL MEDICAL CTR,125 HOSPITAL DR,WATERTOWN,WI,53098,WI - Madison,188,119.579787,67.520000
43370,0698 - Level II Eye Tests & Treatments,520177,FROEDTERT MEM LUTHERAN HSPTL,9200 W WISCONSIN AVE,MILWAUKEE,WI,53226,WI - Milwaukee,1554,155.406969,66.719949
43371,0698 - Level II Eye Tests & Treatments,670034,SCOTT & WHITE HOSPITAL-ROUND ROCK,300 UNIVERSITY BLVD,ROUND ROCK,TX,78664,TX - Austin,1141,352.334356,64.012349

In [6]:
Patient_history = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Patient_history_samp.csv")
Patient_history

               id    age gender       income
0       306535165  65-74      F  24000-31999
1       742231134  65-74      F       48000+
2       928807201  75-84      M  24000-31999
3        83686538    <65      F  32000-47999
4       755607449  65-74      F       48000+
...           ...    ...    ...          ...
499995  164912939  75-84      F       48000+
499996  879506052  65-74      F  32000-47999
499997   87045563  75-84      M  32000-47999
499998  791132159    <65      M  32000-47999
499999  385254439  65-74      F  32000-47999

[500000 rows x 4 columns]

In [7]:
Review_patient = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Review_patient_history_samp.csv")
Review_patient

             id    age gender       income
0     381693273  65-74      F  24000-31999
1     444060924  65-74      M  24000-31999
2       3641691  65-74      F  24000-31999
3     672653795  65-74      M       48000+
4     144916176    <65      F       48000+
...         ...    ...    ...          ...
4995   28831157    <65      M  24000-31999
4996  612539786    <65      F  24000-31999
4997  978751518  75-84      F       <16000
4998  105489783  75-84      M  24000-31999
4999  650750373    85+      F       <16000

[5000 rows x 4 columns]

In [8]:
Rreview_transaction = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Rreview_transaction_coo.csv")
Rreview_transaction

              id  global_proc_id  count
0          65822             109      1
1          65822             125      1
2         119695              70      1
3         119695             124      1
4         119695             125      1
...          ...             ...    ...
15036  999454987             112      1
15037  999460247              69      1
15038  999460247              92      1
15039  999460247             124      1
15040  999921648              60      1

[15041 rows x 3 columns]

In [9]:
Transaction = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\9. End to End Foundation Case Study-1\Transaction_coo.csv")
Transaction

                id  global_proc_id  count
0           159125               1      1
1           191852               1      1
2           321083               1      1
3           383037               1      1
4           467729               1      1
...            ...             ...    ...
1514804  997500356             130      1
1514805  997544830             130      1
1514806  998247161             130      1
1514807  998347246             130      1
1514808  998488395             130      1

[1514809 rows x 3 columns]

In [10]:
#PART1A - Highest Cost Variation

# Finding Standard deviation and mean for InpatientDRG
Medicare_IN = pd.concat(
[Medicare_Provider_Charge_In[['DRG Definition','Average Covered Charges']].groupby(['DRG Definition']).agg('std').add_suffix('_std'),
 Medicare_Provider_Charge_In[['DRG Definition','Average Covered Charges']].groupby(['DRG Definition']).agg('mean').add_suffix('_avg')]
 , axis =1)

In [11]:
#Coefficient of Variance, the standard deviation divided by the mean
Medicare_IN['Variation'] = Medicare_IN.apply(lambda x: x['Average Covered Charges_std']/x['Average Covered Charges_avg'],axis =1)

In [12]:
Medicare_IN['Variation'].nlargest(3)

DRG Definition
885 - PSYCHOSES                                                              0.717796
897 - ALCOHOL/DRUG ABUSE OR DEPENDENCE W/O REHABILITATION THERAPY W/O MCC    0.633967
917 - POISONING & TOXIC EFFECTS OF DRUGS W MCC                               0.613150
Name: Variation, dtype: float64

In [13]:
# Finding Standard deviation and mean for OutpatientDRG
Medicare_OUT = pd.concat(
[Medicare_Provider_Charge_Out[["APC","Average  Estimated Submitted Charges"]].groupby(['APC']).agg('std').add_suffix('_std'),
Medicare_Provider_Charge_Out[["APC","Average  Estimated Submitted Charges"]].groupby(['APC']).agg('mean').add_suffix('_avg')],
axis =1)

In [14]:
#Coefficient of Variance, the standard deviation divided by the mean
Medicare_OUT['Variation'] = Medicare_OUT.apply(lambda x: x['Average  Estimated Submitted Charges_std']/x['Average  Estimated Submitted Charges_avg'],axis =1)

In [15]:
Medicare_OUT['Variation'].nlargest(3)

APC
0604 - Level 1 Hospital Clinic Visits     1.385150
0698 - Level II Eye Tests & Treatments    1.310444
0019 - Level I Excision/ Biopsy           1.229897
Name: Variation, dtype: float64

==================================================================================================================

In [16]:
# PART1B - Highest Cost Claims by provider
#Finding the max of Average Covered Charges for InpatientDRG

Medicare_IN2 = pd.DataFrame(Medicare_Provider_Charge_In[['DRG Definition', 'Average Covered Charges']].groupby(['DRG Definition']).agg('max').add_suffix('_max'))

In [17]:
Medicare_IN2 = Medicare_IN2.reset_index()
Medicare_IN2

,DRG Definition,Average Covered Charges_max
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,146892.00000
1,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,148128.43750
2,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,234912.70000
3,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,162922.50000
4,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,117831.14290
...,...,...
95,885 - PSYCHOSES,144522.66670
96,897 - ALCOHOL/DRUG ABUSE OR DEPENDENCE W/O REH...,79932.53846
97,917 - POISONING & TOXIC EFFECTS OF DRUGS W MCC,236455.90910
98,918 - POISONING & TOXIC EFFECTS OF DRUGS W/O MCC,79965.72000
99,948 - SIGNS & SYMPTOMS W/O MCC,84846.50000

In [18]:
#Merging the max value with InpatientDRG dataset
Medicare_IN_MERGE = Medicare_Provider_Charge_In.merge(Medicare_IN2,on='DRG Definition',how='left')
Medicare_IN_MERGE[['Provider Name','Average Covered Charges_max']]

,Provider Name,Average Covered Charges_max
0,SOUTHEAST ALABAMA MEDICAL CENTER,146892.0
1,MARSHALL MEDICAL CENTER SOUTH,146892.0
2,ELIZA COFFEE MEMORIAL HOSPITAL,146892.0
3,ST VINCENT'S EAST,146892.0
4,SHELBY BAPTIST MEDICAL CENTER,146892.0
...,...,...
163060,SETON MEDICAL CENTER WILLIAMSON,84846.5
163061,METHODIST STONE OAK HOSPITAL,84846.5
163062,SETON MEDICAL CENTER HAYS,84846.5
163063,TEXAS REGIONAL MEDICAL CENTER AT SUNNYVALE,84846.5
163064,TEXAS HEALTH PRESBYTERIAN HOSPITAL FLOWER MOUND,84846.5

In [19]:
#function to get the max indicator
def difftyp(Medicare_IN_MERGE):
    if ((Medicare_IN_MERGE['Average Covered Charges_max'] == Medicare_IN_MERGE['Average Covered Charges'])):
        return 1
    else:
        return 0

In [20]:
Medicare_IN_MERGE['MAX'] = Medicare_IN_MERGE.apply(difftyp, axis=1)

In [21]:
#Finding the max of Average Covered Charges for OutPatientAPC
Medicare_OUT2 = pd.DataFrame(Medicare_Provider_Charge_Out[['APC', 'Average  Estimated Submitted Charges']].groupby(['APC']).agg('max').add_suffix('_max'))

In [22]:
Medicare_OUT2 = Medicare_OUT2.reset_index()

In [23]:
#Merging the max value with InpatientDRG dataset
Medicare_OUT_MERGE = Medicare_Provider_Charge_Out.merge(Medicare_OUT2,on='APC', how='left')

In [24]:
#function to get the max indicator
def difftyp(Medicare_OUT_MERGE):
    if ((Medicare_OUT_MERGE['Average  Estimated Submitted Charges_max']  == Medicare_OUT_MERGE['Average  Estimated Submitted Charges'])):
        return 1
    else:
        return 0

In [25]:
Medicare_OUT_MERGE['MAX'] = Medicare_OUT_MERGE.apply(difftyp, axis=1)

In [26]:
#getting number of times a provider has charge max value for procedure
Medicare_OUT_MAXCALC_PROVIDER= pd.DataFrame(Medicare_OUT_MERGE[['Provider Name','MAX']].groupby(['Provider Name']).agg('sum').add_suffix('_sum'),)

In [27]:
#getting number of times a region has charge max value for procedure
Medicare_OUT_MAXCALC_REGION= pd.DataFrame(Medicare_OUT_MERGE[['Hospital Referral Region (HRR) Description','MAX']].groupby(['Hospital Referral Region (HRR) Description']).agg('sum').add_suffix('_sum'),)

In [28]:
Medicare_OUT_MAXCALC_PROVIDER['MAX_sum'].nlargest(5)

Provider Name
CAPITAL HEALTH MEDICAL CENTER - HOPEWELL    2
COLUMBIA HOSPITAL                           2
FORT WALTON BEACH MEDICAL CENTER            2
BEVERLY HOSPITAL CORPORATION                1
CENTINELA HOSPITAL MEDICAL CENTER           1
Name: MAX_sum, dtype: int64

In [29]:
Medicare_OUT_MAXCALC_REGION['MAX_sum'].nlargest(3)

Hospital Referral Region (HRR) Description
PA - Philadelphia     5
CA - Los Angeles      3
CA - Orange County    2
Name: MAX_sum, dtype: int64

===================================================================================================================

In [30]:
#PART1C - Highest Cost Claims by Region

In [31]:
#Finding the mean of Average Covered Charges for InpatientDRG by DRG Defination and Region
Medicare_IN_AGG = pd.DataFrame(Medicare_Provider_Charge_In[['DRG Definition', 'Hospital Referral Region (HRR) Description',  'Average Covered Charges']].groupby(['DRG Definition', 'Hospital Referral Region (HRR) Description']).agg('mean').add_suffix('_avg'))

In [32]:
Medicare_IN_AGG  = Medicare_IN_AGG.reset_index()
Medicare_IN_AGG

,DRG Definition,Hospital Referral Region (HRR) Description,Average Covered Charges_avg
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AK - Anchorage,34805.130430
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Birmingham,40237.361538
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Dothan,36285.182905
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Huntsville,18878.955554
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Mobile,22802.270118
...,...,...,...
28956,948 - SIGNS & SYMPTOMS W/O MCC,WI - Wausau,13291.380000
28957,948 - SIGNS & SYMPTOMS W/O MCC,WV - Charleston,10526.475501
28958,948 - SIGNS & SYMPTOMS W/O MCC,WV - Huntington,11329.841077
28959,948 - SIGNS & SYMPTOMS W/O MCC,WV - Morgantown,10785.860828
28960,948 - SIGNS & SYMPTOMS W/O MCC,WY - Casper,12021.421050

In [33]:
#Finding the max for InpatientDRG DRG Definition
Medicare_IN_MAX = pd.DataFrame(Medicare_IN_AGG[['DRG Definition', 'Average Covered Charges_avg']].groupby(['DRG Definition']).agg('max').add_suffix('_max'))

In [34]:
Medicare_IN_AGG  = Medicare_IN_AGG.reset_index()
Medicare_IN_AGG.head()

,index,DRG Definition,Hospital Referral Region (HRR) Description,Average Covered Charges_avg
0,0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AK - Anchorage,34805.130430
1,1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Birmingham,40237.361538
2,2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Dothan,36285.182905
3,3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Huntsville,18878.955554
4,4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Mobile,22802.270118

In [35]:
#Finding the max for InpatientDRG DRG Definition
Medicare_IN_MAX = pd.DataFrame(Medicare_IN_AGG[['DRG Definition', 'Average Covered Charges_avg']].groupby(['DRG Definition']).agg('max').add_suffix('_max'))

In [36]:
Medicare_IN_MAX = Medicare_IN_MAX.reset_index()

In [37]:
Medicare_IN_MAX.head()

,DRG Definition,Average Covered Charges_avg_max
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,105929.470600
1,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,148128.437500
2,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,145720.057518
3,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,73820.938782
4,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,65418.983067

In [38]:
#Merging The mean and max - will give side by side comparison of region having highest claims
Medicare_IN_MERGE = Medicare_IN_AGG.merge(Medicare_IN_MAX,on='DRG Definition', how='left')

In [39]:
Medicare_IN_MERGE.head()

,index,DRG Definition,Hospital Referral Region (HRR) Description,Average Covered Charges_avg,Average Covered Charges_avg_max
0,0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AK - Anchorage,34805.130430,105929.4706
1,1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Birmingham,40237.361538,105929.4706
2,2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Dothan,36285.182905,105929.4706
3,3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Huntsville,18878.955554,105929.4706
4,4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,AL - Mobile,22802.270118,105929.4706

In [40]:
#function to get the max indicator
def difftyp(Medicare_IN_MERGE):
    if ((Medicare_IN_MERGE['Average Covered Charges_avg'] == Medicare_IN_MERGE['Average Covered Charges_avg_max'])):
        return 1
    elif ((Medicare_IN_MERGE['Average Covered Charges_avg'] > Medicare_IN_MERGE['Average Covered Charges_avg_max'])):
        return 1
    else:
        return 0

In [41]:
Medicare_IN_MERGE['MAX'] = Medicare_IN_MERGE.apply(difftyp, axis=1)

In [42]:
Medicare_IN_MERGE[Medicare_IN_MERGE['MAX'] == 1].head()

,index,DRG Definition,Hospital Referral Region (HRR) Description,Average Covered Charges_avg,Average Covered Charges_avg_max,MAX
22,22,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,CA - Napa,105929.470600,105929.470600,1
330,330,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,CA - San Mateo County,148128.437500,148128.437500,1
588,588,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,CA - Contra Costa County,145720.057518,145720.057518,1
907,907,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,CA - San Mateo County,73820.938782,73820.938782,1
1198,1198,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,CA - Contra Costa County,65418.983067,65418.983067,1

In [43]:
#getting number of times a region has charge max value for procedure
Medicare_IN_MERGE_GROUPED = pd.DataFrame(Medicare_IN_MERGE[['Hospital Referral Region (HRR) Description','MAX']].groupby(['Hospital Referral Region (HRR) Description']).agg('sum').add_suffix('_sum'),)

In [44]:
Medicare_IN_MERGE_GROUPED = Medicare_IN_MERGE_GROUPED.reset_index()
Medicare_IN_MERGE_GROUPED.head()

  Hospital Referral Region (HRR) Description  MAX_sum
0                             AK - Anchorage        0
1                            AL - Birmingham        0
2                                AL - Dothan        0
3                            AL - Huntsville        0
4                                AL - Mobile        0

In [45]:
#FOR OutpatientAPC
Medicare_Provider_Charge_Out.columns

Index(['APC', 'Provider Id', 'Provider Name', 'Provider Street Address',
       'Provider City', 'Provider State', 'Provider Zip Code',
       'Hospital Referral Region (HRR) Description', 'Outpatient Services',
       'Average  Estimated Submitted Charges', 'Average Total Payments'],
      dtype='object')

In [46]:
#Finding the mean of Average Covered Charges for Outpatient by APC and Region
Medicare_Out_AGG = pd.DataFrame(Medicare_Provider_Charge_Out[['APC', 'Hospital Referral Region (HRR) Description', 'Average  Estimated Submitted Charges']].groupby(['APC', 'Hospital Referral Region (HRR) Description']).agg('mean').add_suffix('_avg'))

In [47]:
Medicare_Out_AGG = Medicare_Out_AGG.reset_index()

In [48]:
Medicare_Out_AGG.head()

,APC,Hospital Referral Region (HRR) Description,Average Estimated Submitted Charges_avg
0,0012 - Level I Debridement & Destruction,AK - Anchorage,149.589749
1,0012 - Level I Debridement & Destruction,AL - Birmingham,78.086957
2,0012 - Level I Debridement & Destruction,AR - Fort Smith,80.102439
3,0012 - Level I Debridement & Destruction,AR - Jonesboro,16.993333
4,0012 - Level I Debridement & Destruction,AR - Little Rock,96.968863

In [49]:
#Finding the max for Outpatient
Medicare_Out_MAX = pd.DataFrame(Medicare_Out_AGG[['APC', 'Average  Estimated Submitted Charges_avg']].groupby(['APC']).agg('max').add_suffix('_max'))

In [50]:
Medicare_Out_MAX = Medicare_Out_MAX.reset_index()

In [51]:
Medicare_Out_MAX.head()

,APC,Average Estimated Submitted Charges_avg_max
0,0012 - Level I Debridement & Destruction,438.307045
1,0013 - Level II Debridement & Destruction,1042.707451
2,0015 - Level III Debridement & Destruction,1478.536545
3,0019 - Level I Excision/ Biopsy,15946.325655
4,0020 - Level II Excision/ Biopsy,15784.975000

In [52]:
#Merging The mean and max - will give side by side comparison of region having highest claims
Medicare_Out_MERGE = Medicare_Out_AGG.merge(Medicare_Out_MAX,on='APC', how='left')

In [53]:
Medicare_Out_MERGE.columns

Index(['APC', 'Hospital Referral Region (HRR) Description',
       'Average  Estimated Submitted Charges_avg',
       'Average  Estimated Submitted Charges_avg_max'],
      dtype='object')

In [54]:
#function to get the max indicator
def difftyp(Medicare_Out_MERGE):
    if ((Medicare_Out_MERGE['Average  Estimated Submitted Charges_avg'] == Medicare_Out_MERGE['Average  Estimated Submitted Charges_avg_max'])):
        return 1
    elif ((Medicare_Out_MERGE['Average  Estimated Submitted Charges_avg'] > Medicare_Out_MERGE['Average  Estimated Submitted Charges_avg_max'])):
        return 1
    else:
        return 0

In [55]:
Medicare_Out_MERGE['MAX'] = Medicare_Out_MERGE.apply(difftyp, axis=1)

In [56]:
Medicare_Out_MERGE[Medicare_Out_MERGE['MAX'] == 1].head()

,APC,Hospital Referral Region (HRR) Description,Average Estimated Submitted Charges_avg,Average Estimated Submitted Charges_avg_max,MAX
93,0012 - Level I Debridement & Destruction,NE - Omaha,438.307045,438.307045,1
160,0013 - Level II Debridement & Destruction,AL - Dothan,1042.707451,1042.707451,1
582,0015 - Level III Debridement & Destruction,MI - Dearborn,1478.536545,1478.536545,1
756,0019 - Level I Excision/ Biopsy,CA - Los Angeles,15946.325655,15946.325655,1
1013,0020 - Level II Excision/ Biopsy,IL - Aurora,15784.975000,15784.975000,1

In [57]:
#getting number of times a region has charge max value for procedure
Medicare_Out_MERGE_GROUPED = pd.DataFrame(Medicare_Out_MERGE[['Hospital Referral Region (HRR) Description','MAX']].groupby(['Hospital Referral Region (HRR) Description']).agg('sum').add_suffix('_sum'),)

In [58]:
Medicare_Out_MERGE_GROUPED = Medicare_Out_MERGE_GROUPED.reset_index()

In [59]:
Medicare_Out_MERGE_GROUPED.head()

  Hospital Referral Region (HRR) Description  MAX_sum
0                             AK - Anchorage        0
1                            AL - Birmingham        0
2                                AL - Dothan        1
3                            AL - Huntsville        1
4                                AL - Mobile        0

In [60]:
frames = [Medicare_IN_MERGE_GROUPED, Medicare_Out_MERGE_GROUPED]
Medicare_data_REGION = pd.concat(frames)

In [61]:
Medicare_data_REGION.head()

  Hospital Referral Region (HRR) Description  MAX_sum
0                             AK - Anchorage        0
1                            AL - Birmingham        0
2                                AL - Dothan        0
3                            AL - Huntsville        0
4                                AL - Mobile        0

In [62]:
#getting the total sum of occurance
Medicare_data_REGION_GROUPED = pd.DataFrame(Medicare_data_REGION[['Hospital Referral Region (HRR) Description','MAX_sum']].groupby(['Hospital Referral Region (HRR) Description']).agg('sum').add_suffix('_agg'),)

In [63]:
Medicare_data_REGION_GROUPED['MAX_sum_agg'].nlargest(3)

Hospital Referral Region (HRR) Description
CA - Contra Costa County    36
CA - San Mateo County       24
CA - Santa Cruz             11
Name: MAX_sum_agg, dtype: int64

=========================================================================================================================

In [64]:
#5.PART1D - Largest claim difference for the largest number of procedures by providers

In [65]:
Medicare_Provider_Charge_In.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07692,5777.241758,4763.736264
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85714,5787.571429,4976.714286
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37500,5434.958333,4453.791667
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28000,5417.560000,4129.160000
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27778,5658.333333,4851.444444

In [66]:
Medicare_IN_DRG = Medicare_Provider_Charge_In[['DRG Definition', 'Provider Name','Average Total Payments', 'Average Covered Charges' ]]

In [67]:
#Difference of claim and reimbursement
Medicare_IN_DRG['CLAIM_DIFF'] = Medicare_IN_DRG.apply(lambda x: x['Average Covered Charges'] - x['Average Total Payments'],axis =1)

C:\Users\prana\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [68]:
Medicare_IN_DRG.head(5)

,DRG Definition,Provider Name,Average Total Payments,Average Covered Charges,CLAIM_DIFF
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,SOUTHEAST ALABAMA MEDICAL CENTER,5777.241758,32963.07692,27185.835162
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,MARSHALL MEDICAL CENTER SOUTH,5787.571429,15131.85714,9344.285711
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ELIZA COFFEE MEMORIAL HOSPITAL,5434.958333,37560.37500,32125.416667
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ST VINCENT'S EAST,5417.560000,13998.28000,8580.720000
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,SHELBY BAPTIST MEDICAL CENTER,5658.333333,31633.27778,25974.944447

In [69]:
#Finding the mean of Average Covered Charges for InpatientDRG by DRG Defination and Provider
Medicare_IN_AGG = pd.DataFrame(Medicare_IN_DRG[['DRG Definition', 'Provider Name', 'CLAIM_DIFF']].groupby(['DRG Definition', 'Provider Name']).agg('mean').add_suffix('_avg'))

In [70]:
Medicare_IN_AGG = Medicare_IN_AGG.reset_index()

In [71]:
Medicare_IN_AGG .head()

,DRG Definition,Provider Name,CLAIM_DIFF_avg
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ABBOTT NORTHWESTERN HOSPITAL,27026.166671
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ABILENE REGIONAL MEDICAL CENTER,29293.857146
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ABINGTON MEMORIAL HOSPITAL,33207.235299
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ADENA REGIONAL MEDICAL CENTER,16247.499998
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ADVENTIST LA GRANGE MEMORIAL HOSPITAL,30415.357141

In [72]:
#Finding the max for InpatientDRG DRG Definition
Medicare_IN_MAX = pd.DataFrame(Medicare_IN_AGG[['DRG Definition', 'CLAIM_DIFF_avg']].groupby(['DRG Definition']).agg('max').add_suffix('_max'))

In [73]:
Medicare_IN_MAX = Medicare_IN_MAX.reset_index()

In [74]:
Medicare_IN_MAX.head()

                                      DRG Definition  CLAIM_DIFF_avg_max
0           039 - EXTRACRANIAL PROCEDURES W/O CC/MCC        135377.61538
1  057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...        122609.00000
2  064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...        214346.92103
3  065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...        144842.08333
4  066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...        109535.14290

In [75]:
#Merging The mean and max - will give side by side comparison of region having highest claim difference
Medicare_IN_MERGE = Medicare_IN_AGG.merge(Medicare_IN_MAX,on='DRG Definition', how='left')

In [76]:
Medicare_IN_MERGE = Medicare_IN_MERGE.reset_index()

In [77]:
Medicare_IN_MERGE.head()

,index,DRG Definition,Provider Name,CLAIM_DIFF_avg,CLAIM_DIFF_avg_max
0,0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ABBOTT NORTHWESTERN HOSPITAL,27026.166671,135377.61538
1,1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ABILENE REGIONAL MEDICAL CENTER,29293.857146,135377.61538
2,2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ABINGTON MEMORIAL HOSPITAL,33207.235299,135377.61538
3,3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ADENA REGIONAL MEDICAL CENTER,16247.499998,135377.61538
4,4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,ADVENTIST LA GRANGE MEMORIAL HOSPITAL,30415.357141,135377.61538

In [78]:
#function to get the max indicator
def difftyp(Medicare_IN_MERGE):
    if ((Medicare_IN_MERGE['CLAIM_DIFF_avg'] == Medicare_IN_MERGE['CLAIM_DIFF_avg_max'])):
        return 1
    elif ((Medicare_IN_MERGE['CLAIM_DIFF_avg'] > Medicare_IN_MERGE['CLAIM_DIFF_avg_max'])):
        return 1
    else:
        return 0

In [79]:
Medicare_IN_MERGE['MAX'] = Medicare_IN_MERGE.apply(difftyp, axis=1)

In [80]:
Medicare_IN_MERGE[Medicare_IN_MERGE['MAX'] == 1].head()

,index,DRG Definition,Provider Name,CLAIM_DIFF_avg,CLAIM_DIFF_avg_max,MAX
980,980,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,UNIVERSITY OF CALIFORNIA DAVIS MEDICAL CENTER,135377.61538,135377.61538,1
2048,2048,057 - DEGENERATIVE NERVOUS SYSTEM DISORDERS W/...,STANFORD HOSPITAL,122609.00000,122609.00000,1
2533,2533,064 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,DOCTORS MEDICAL CENTER,214346.92103,214346.92103,1
3953,3953,065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,BAYONNE HOSPITAL CENTER,144842.08333,144842.08333,1
6514,6514,066 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFA...,HAHNEMANN UNIVERSITY HOSPITAL,109535.14290,109535.14290,1

In [81]:
#getting number of times a provider has max claim diff for max procudures
Medicare_IN_MERGE_GROUPED = pd.DataFrame(Medicare_IN_MERGE[['Provider Name','MAX']].groupby(['Provider Name']).agg('sum').add_suffix('_sum'),)

In [82]:
Medicare_IN_MERGE_GROUPED['MAX_sum'].nlargest(3)

Provider Name
BAYONNE HOSPITAL CENTER          29
CROZER CHESTER MEDICAL CENTER    12
HAHNEMANN UNIVERSITY HOSPITAL     8
Name: MAX_sum, dtype: int64

In [83]:
#OutPatientsAPC
Medicare_Provider_Charge_Out.head()

,APC,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
0,0012 - Level I Debridement & Destruction,10029,EAST ALABAMA MEDICAL CENTER AND SNF,2000 PEPPERELL PARKWAY,OPELIKA,AL,36801,AL - Birmingham,23,78.086957,21.910435
1,0012 - Level I Debridement & Destruction,20024,CENTRAL PENINSULA GENERAL HOSPITAL,250 HOSPITAL PLACE,SOLDOTNA,AK,99669,AK - Anchorage,994,149.589749,36.623853
2,0012 - Level I Debridement & Destruction,30064,"UNIVERSITY OF ARIZONA MEDICAL CTR-UNIVERSIT, THE",1501 NORTH CAMPBELL AVENUE,TUCSON,AZ,85724,AZ - Tucson,1765,50.135411,14.541841
3,0012 - Level I Debridement & Destruction,30088,BANNER BAYWOOD MEDICAL CENTER,6644 EAST BAYWOOD AVENUE,MESA,AZ,85206,AZ - Mesa,20,112.400000,23.736000
4,0012 - Level I Debridement & Destruction,30111,"UNIVERSITY OF ARIZONA MEDICAL CTR- SOUTH CAM, THE",2800 EAST AJO WAY,TUCSON,AZ,85713,AZ - Tucson,22,152.045455,16.569091

In [84]:
Medicare_Provider_Charge_Out.columns

Index(['APC', 'Provider Id', 'Provider Name', 'Provider Street Address',
       'Provider City', 'Provider State', 'Provider Zip Code',
       'Hospital Referral Region (HRR) Description', 'Outpatient Services',
       'Average  Estimated Submitted Charges', 'Average Total Payments'],
      dtype='object')

In [85]:
Medicare_Out_DRG = Medicare_Provider_Charge_Out[['APC', 'Provider Name', 'Average  Estimated Submitted Charges', 'Average Total Payments' ]]

In [86]:
#Difference of claim and reimbursement
Medicare_Out_DRG['CLAIM_DIFF'] = Medicare_Out_DRG.apply(lambda x: x['Average  Estimated Submitted Charges'] - x['Average Total Payments'],axis =1)

C:\Users\prana\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
Medicare_Out_DRG.head(1)

,APC,Provider Name,Average Estimated Submitted Charges,Average Total Payments,CLAIM_DIFF
0,0012 - Level I Debridement & Destruction,EAST ALABAMA MEDICAL CENTER AND SNF,78.086957,21.910435,56.176522

In [88]:
#Finding the mean of Average Covered Charges for InpatientDRG by DRG Defination and Provider
Medicare_Out_AGG = pd.DataFrame(Medicare_Out_DRG[['APC', 'Provider Name', 'CLAIM_DIFF']].groupby(['APC', 'Provider Name']).agg('mean').add_suffix('_avg'))

In [89]:
Medicare_Out_AGG = Medicare_Out_AGG.reset_index()

In [90]:
Medicare_Out_AGG .head()

,APC,Provider Name,CLAIM_DIFF_avg
0,0012 - Level I Debridement & Destruction,ALTON MEMORIAL HOSPITAL,91.856818
1,0012 - Level I Debridement & Destruction,ALTRU HOSPITAL,7.259495
2,0012 - Level I Debridement & Destruction,ARNOT OGDEN MEDICAL CENTER,98.893846
3,0012 - Level I Debridement & Destruction,"AROOSTOOK MEDICAL CENTER,THE",16.975013
4,0012 - Level I Debridement & Destruction,AVERA MCKENNAN HOSPITAL & UNIVERSITY HEALTH CE...,22.306715

In [91]:
#Finding the max for InpatientDRG DRG Definition
Medicare_Out_MAX = pd.DataFrame(Medicare_Out_AGG[['APC', 'CLAIM_DIFF_avg']].groupby(['APC']).agg('max').add_suffix('_max'))

In [92]:
Medicare_Out_MAX = Medicare_Out_MAX.reset_index()

In [93]:
Medicare_Out_MAX.head()

                                          APC  CLAIM_DIFF_avg_max
0    0012 - Level I Debridement & Destruction           827.44000
1   0013 - Level II Debridement & Destruction          5175.40000
2  0015 - Level III Debridement & Destruction          2980.73963
3             0019 - Level I Excision/ Biopsy         26073.80500
4            0020 - Level II Excision/ Biopsy         18362.75882

In [94]:
#Merging The mean and max - will give side by side comparison of region having highest claim difference
Medicare_Out_MERGE = Medicare_Out_AGG.merge(Medicare_Out_MAX,on='APC', how='left')

In [95]:
Medicare_Out_MERGE = Medicare_Out_MERGE.reset_index()

In [96]:
Medicare_Out_MERGE.head()

,index,APC,Provider Name,CLAIM_DIFF_avg,CLAIM_DIFF_avg_max
0,0,0012 - Level I Debridement & Destruction,ALTON MEMORIAL HOSPITAL,91.856818,827.44
1,1,0012 - Level I Debridement & Destruction,ALTRU HOSPITAL,7.259495,827.44
2,2,0012 - Level I Debridement & Destruction,ARNOT OGDEN MEDICAL CENTER,98.893846,827.44
3,3,0012 - Level I Debridement & Destruction,"AROOSTOOK MEDICAL CENTER,THE",16.975013,827.44
4,4,0012 - Level I Debridement & Destruction,AVERA MCKENNAN HOSPITAL & UNIVERSITY HEALTH CE...,22.306715,827.44

In [97]:

#function to get the max indicator
def difftyp(Medicare_Out_MERGE):
    if ((Medicare_Out_MERGE['CLAIM_DIFF_avg'] == Medicare_Out_MERGE['CLAIM_DIFF_avg_max'])):
        return 1
    elif ((Medicare_Out_MERGE['CLAIM_DIFF_avg'] > Medicare_Out_MERGE['CLAIM_DIFF_avg_max'])):
        return 1
    else:
        return 0

In [98]:
Medicare_Out_MERGE['MAX'] = Medicare_Out_MERGE.apply(difftyp, axis=1)

In [99]:
Medicare_Out_MERGE[Medicare_Out_MERGE['MAX'] == 1].head()

,index,APC,Provider Name,CLAIM_DIFF_avg,CLAIM_DIFF_avg_max,MAX
152,152,0012 - Level I Debridement & Destruction,NEBRASKA ORTHOPAEDIC HOSPITAL,827.44000,827.44000,1
1265,1265,0013 - Level II Debridement & Destruction,RUSSELLVILLE HOSPITAL,5175.40000,5175.40000,1
2703,2703,0015 - Level III Debridement & Destruction,RESEARCH MEDICAL CENTER,2980.73963,2980.73963,1
3247,3247,0019 - Level I Excision/ Biopsy,CENTINELA HOSPITAL MEDICAL CENTER,26073.80500,26073.80500,1
4255,4255,0020 - Level II Excision/ Biopsy,ORANGE COAST MEMORIAL MEDICAL CENTER,18362.75882,18362.75882,1

In [100]:
#getting number of times a provider has max claim diff for max procudures
Medicare_Out_MERGE_GROUPED = pd.DataFrame(Medicare_Out_MERGE[['Provider Name','MAX']].groupby(['Provider Name']).agg('sum').add_suffix('_sum'))

In [101]:
Medicare_Out_MERGE_GROUPED = Medicare_Out_MERGE_GROUPED.reset_index()

In [102]:
Medicare_Out_MERGE_GROUPED.head()

                     Provider Name  MAX_sum
0       ABBEVILLE GENERAL HOSPITAL        0
1     ABBOTT NORTHWESTERN HOSPITAL        0
2  ABILENE REGIONAL MEDICAL CENTER        0
3       ABINGTON MEMORIAL HOSPITAL        0
4                    ACMH HOSPITAL        0

In [103]:
Medicare_Out_MERGE_GROUPED['MAX_sum'].nlargest(3)

327    2
484    2
799    2
Name: MAX_sum, dtype: int64

=========================PART1=======================