# Hypothesis Testing

In [1]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [4]:
data = pd.read_csv(r'C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\8. Basic Stats - Case Study-2\Testing_Of_Hypothesis.csv')

In [5]:
data

    Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0       1   S336499             94       A336525           82
1       2    S73004             99        A73011           83
2       3    S79537             74        A79538           88
3       4   S769168             74       A769222           80
4       5   S609791             83       A609801           74
..    ...       ...            ...           ...          ...
95     96   S285617             77       A285629           87
96     97   S324135             85       A324151           82
97     98   S292076             83       A292091           88
98     99   S936528             82       A936566           91
99    100   S489010            100       A489031           95

[100 rows x 5 columns]

In [7]:
#1.The Samsung Average customer satisfaction score is minimum 75%
#One Sample t-test
#Ho : Samsung Average Customer Satisfaction Score == 75% 
#Ha : Samsung Average Customer Satisfaction Score != 75%

meansam = data['Samsung Score'].mean()
meansam

84.9

In [8]:
persam = 0.75*84.9
persam

63.675000000000004

In [13]:
test = stats.ttest_1samp(a=data['Samsung Score'],popmean = 63.6750000)
t_score = round(test.statistic,2)
p_value = test.pvalue
print("The p value is {} and the T Score is {}".format(p_value,t_score))

The p value is 7.714674273163513e-33 and the T Score is 17.92

In [14]:
# Since the significance value of the test is less than 0.05, 
# we reject the null hypothesis. Therefore Samsung Average Customer Satisfaction Score is not equal to 75%. 
# Hence the hypothesis The Samsung Average customer satisfaction score is minimum 75% is wrong

In [17]:
#2.The overall average satisfaction score of Samsung is same as Apple. 
#There is no significant difference in the satisfaction scores

samscore = data['Samsung Score']
appscore = data['Apple_Score']

In [18]:
print("The average satisfaction scores of Samsung customers is {}".format(samscore.mean()))
print("The average satisfaction scores of Apple customers is {}".format(appscore.mean()))

The average satisfaction scores of Samsung customers is 84.9
The average satisfaction scores of Apple customers is 87.81

In [20]:

eq_var = stats.ttest_ind(a= samscore,
                b= appscore,
                equal_var=True)    # equal variance
eq_var.statistic

-1.9064295935043472

In [21]:
uneq_var = stats.ttest_ind(a= samscore,
                b= appscore,
                equal_var=False)    # UnEqual variance
uneq_var.statistic

-1.9064295935043474

In [22]:
# We'll cosider equal variance since the t score is not having a huge difference
uneq_var.statistic - eq_var.statistic

-2.220446049250313e-16

In [27]:
t = eq_var.statistic
p = eq_var.pvalue
print(t,p)
#For the above test, the t-score is -1.9064295935043472 and the p-value is 0.058042614444118075
#We fail to reject null hypothesis

-1.9064295935043472 0.05804261444411807

In [ ]:
# Since the significance value of the test is greater than 0.05, 
# we can safely conclude that The overall average satisfaction score of Samsung is same as Apple. 
# There is no significant difference in the satisfaction scores. 
# Hence the hypothesis The overall average satisfaction score of Samsung is same as Apple.