# Aggregations

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset occupation.csv from the folder or [here](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [2]:
data = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\2. Pandas Basic Exercises\Exercise Data Files\Pandas Exercise Aggregation Files\occupation.csv")

In [3]:
data.head()

  user_id,age,gender,occupation,zip_code
0                1,24,M,technician,85711
1                     2,53,F,other,94043
2                    3,23,M,writer,32067
3                4,24,M,technician,43537
4                     5,33,F,other,15213

### Step 3. Assign it to a variable called users.

In [6]:
users=(data)
print(users)

    user_id,age,gender,occupation,zip_code
0                  1,24,M,technician,85711
1                       2,53,F,other,94043
2                      3,23,M,writer,32067
3                  4,24,M,technician,43537
4                       5,33,F,other,15213
..                                     ...
938                 939,26,F,student,33319
939           940,32,M,administrator,02215
940                 941,20,M,student,97229
941               942,48,F,librarian,78209
942                 943,22,M,student,77841

[943 rows x 1 columns]

In [ ]:
users.rename(columns={'user_id,age,gender,occupation,zip_code': 'name'}, inplace=True)
users

In [ ]:
users[['user_id','age','gender','occupation','zip_code']]=users.name.str.split(",",expand=True)

In [ ]:
users.head(50)

In [ ]:
users.drop('name',axis=1,inplace=True)

In [ ]:
users['gender'].value_counts()

In [ ]:
users['occupation'].value_counts()

### Step 4. Discover what is the mean age per occupation

In [ ]:
g = users.groupby(['occupation'])
users['age'] = users['age'].astype(float)
g['age'].mean()

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least.

Use numpy.where() to encode gender column.

In [ ]:
male_ratio = users.pivot_table(index='occupation', columns='gender', aggfunc='size', fill_value=0)
sums = male_ratio[['F', 'M']].sum(axis=1)
male_ratio['MalePer'] = round(male_ratio['M'] /sums ,1)
male_ratio['femalePer'] = round(male_ratio['F'] /sums ,1)
male_ratio

### S`tep 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
g = users.groupby(['occupation'])
g['age'].agg(['min','max'])

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
grp = users.groupby(['gender','occupation'])
grp['age'].mean()

### Step 8.  For each occupation present the percentage of women and men

In [ ]:
male_ratio = users.pivot_table(index='occupation', columns='gender', aggfunc='size', fill_value=0)
sums = male_ratio[['F', 'M']].sum(axis=1)
male_ratio['FemalePer'] = round(100*male_ratio['F'] /sums ,1)
male_ratio['MalePer'] = round(100*male_ratio['M'] /sums ,1)
male_ratio