# Importing Libraries

In [1]:
import numpy as np
import pandas as pd 
import scipy.stats as stats
import matplotlib.pyplot as plt

# 1.Diet.

## 1.A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. (Data set: dietstudy.csv)

In [2]:
diet = pd.read_csv(r'C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\7. Basic Stats - Case Study-1\dietstudy.csv')

In [3]:
diet.head()

   patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45    Male  180  148  106  113  100   198   196   193   188   192
1      2   56    Male  139   94  119   75   92   237   233   232   228   225
2      3   50    Male  152  185   86  149  118   233   231   229   228   226
3      4   46  Female  112  145  136  149   82   179   181   177   174   172
4      5   64    Male  156  104  157   79   97   219   217   215   213   214

In [4]:
diet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   patid   16 non-null     int64
 1   age     16 non-null     int64
 2   gender  16 non-null     object
 3   tg0     16 non-null     int64
 4   tg1     16 non-null     int64
 5   tg2     16 non-null     int64
 6   tg3     16 non-null     int64
 7   tg4     16 non-null     int64
 8   wgt0    16 non-null     int64
 9   wgt1    16 non-null     int64
 10  wgt2    16 non-null     int64
 11  wgt3    16 non-null     int64
 12  wgt4    16 non-null     int64
dtypes: int64(12), object(1)
memory usage: 1.8+ KB

In [5]:
#Two sample T-Test
print("The triglyceride levels of patients were {}".format(diet.tg0.mean()))
print("The final triglyceride levels of patients are {}".format(diet.tg4.mean()))
print("The weights of pateints were {}".format(diet.wgt0.mean()))
print("The final weights of pateints are {}".format(diet.wgt4.mean()))

The triglyceride levels of patients were 138.4375
The final triglyceride levels of patients are 124.375
The weights of pateints were 198.375
The final weights of pateints are 190.3125

In [6]:
#Stage 1
# H0: levels of Triglycerides of individual before diet == levels of Triglycerides of individual after diet
# H1: levels of Triglycerides of individual before diet != levels of Triglycerides of individual after diet

stage1_trig = stats.ttest_rel(a=diet.tg0,b=diet.tg4) 
stage1_trig

Ttest_relResult(statistic=1.2000008533342437, pvalue=0.24874946576903698)

In [7]:
stage1_trig.pvalue

0.24874946576903698

In [8]:
stage1_trig.pvalue>0.05

True

In [9]:
# Stage 2
# H0: weights of individual before diet == weights of individual after diet
# H1: weights of individual before diet != weights of individual after diet

stage2_weight = stats.ttest_rel(a=diet.wgt0,b=diet.wgt4) 
stage2_weight

Ttest_relResult(statistic=11.174521688532522, pvalue=1.137689414996614e-08)

In [10]:
stage2_weight.pvalue

1.137689414996614e-08

In [11]:
stage2_weight.pvalue>0.05

False

==========================================================================================================

# 2.Credit Card Promotion

## An analyst at a department store wants to evaluate a recent credit card promotion. To this end, 500 cardholders were randomly selected. Half received an ad promoting a reduced interest rate on purchases  made over the next three months, and half received a standard seasonal ad.  Is the promotion effective to increase sales? (Data set: creditpromo.csv)

In [12]:
ccpro = pd.read_csv(r'C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\7. Basic Stats - Case Study-1\creditpromo.csv')

In [13]:
ccpro.head()

     id         insert      dollars
0   148       Standard  2232.771979
1   572  New Promotion  1403.807542
2   973       Standard  2327.092181
3  1096       Standard  1280.030541
4  1541  New Promotion  1513.563200

In [14]:
ccpro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       500 non-null    int64
 1   insert   500 non-null    object
 2   dollars  500 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.8+ KB

In [15]:
standard = ccpro['dollars'].loc[ccpro['insert'] == 'Standard']
promotion = ccpro['dollars'].loc[ccpro['insert'] == 'New Promotion']
print(promotion)

1      1403.807542
4      1513.563200
5      1729.627996
6      1609.705918
9      1854.489028
          ...
491    2227.464385
492    2007.541756
494    2000.050800
495    1513.060134
496    1020.757943
Name: dollars, Length: 250, dtype: float64

In [16]:
print("The average spent by the normal standard seasonal ad is ${}".format(standard.mean()))
print("The average spent by the normal ad is ${}".format(promotion.mean()))

The average spent by the normal standard seasonal ad is $1566.3890309659348
The average spent by the normal ad is $1637.4999830647992

In [17]:
standard.mean() - promotion.mean()
#customers who received the interest-rate promotion charged about $70 more than the normal standard season ad.

-71.11095209886435

In [18]:
#1.Two different assumptions : Normal Standard AD and Promotion Ad have equal var, unqual variance 
#If t value is same in both the cases : variance in A and B is same # 3. 
#If t value in different : var in A != var B : 
#consider the results from unequal variance 
# H0 : Sales Beacuase of Seasonal Ad == Sales Because of Promotion 
# H1 : Sales Because of Seasonal Ad < Sales Because of Promotion

In [19]:
eq_var = stats.ttest_ind(a= standard,
                b= promotion,
                equal_var=True)    # equal variance
eq_var.statistic

-2.2604227264649963

In [20]:
uneq_var = stats.ttest_ind(a=standard,
                b= promotion,
                equal_var=False)    # UnEqual variance
uneq_var.statistic

-2.260422726464996

In [21]:
# Consider equal variance since the t-score is not having a huge difference
uneq_var.statistic - eq_var.statistic

4.440892098500626e-16

In [22]:
t = eq_var.statistic
t

-2.2604227264649963

In [23]:
p = eq_var.pvalue
p

0.024225996894147814

In [24]:
print(" For the above test, the t-score is {} and the p-value is {}".format(t,p))

if(p<0.05):
    print('We reject null hypothesis')
else:
    print('We fail to reject null hypothesis')

 For the above test, the t-score is -2.2604227264649963 and the p-value is 0.024225996894147814
We reject null hypothesis

In [25]:
#Since the significance value of the test is less than 0.05, 
#we can safely conclude that the average of 71.11 dollars more spent by cardholders 
#receiving the reduced interest rate is not due to chance alone. 
#The store will now consider extending the offer to all credit customers.

===============================================================================================================

# 3. pollination

## An experiment is conducted to study the hybrid seed production of bottle gourd under open field conditions. The main aim of the investigation is to compare natural pollination and hand pollination. The data are collected on 10 randomly selected plants from each of natural pollination and hand pollination. The data are collected on fruit weight (kg), seed yield/plant (g) and seedling length (cm). (Data set: pollination.csv)¶

In [26]:
#a.Is the overall population of Seed yield/plant (g) equals to 200?

In [27]:
poll = pd.read_csv(r'C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\7. Basic Stats - Case Study-1\pollination.csv')

In [28]:
poll

      Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0   Natural      1.85            147.70            16.86
1   Natural      1.86            136.86            16.77
2   Natural      1.83            149.97            16.35
3   Natural      1.89            172.33            18.26
4   Natural      1.80            144.46            17.90
5   Natural      1.88            138.30            16.95
6   Natural      1.89            150.58            18.15
7   Natural      1.79            140.99            18.86
8   Natural      1.85            140.57            18.39
9   Natural      1.84            138.33            18.58
10     Hand      2.58            224.26            18.18
11     Hand      2.74            197.50            18.07
12     Hand      2.58            230.34            19.07
13     Hand      2.62            217.05            19.00
14     Hand      2.68            233.84            18.00
15     Hand      2.56            216.52            18.49
16     Hand      2.34            211.93            17.45
17     Hand      2.67            210.37            18.97
18     Hand      2.45            199.87            19.31
19     Hand      2.44            214.30            19.36

In [29]:
poll.Seed_Yield_Plant.mean()

180.8035

In [30]:
#Ho : Population of Seed yield/plant == 200 
#Ha : Population of Seed yield/plant != 200

ttest = stats.ttest_1samp(a=poll.Seed_Yield_Plant, popmean=200)
t_score = round(ttest.statistic,2)
p_value = ttest.pvalue
print('the p value is {} and the T score is {}'.format(p_value,t_score))

the p value is 0.032891040921283025 and the T score is -2.3

In [31]:
p_value>0.05
#Since the significance value of the test is less than 0.05, we reject the null hypothesis. 
#Therefore overall population of seed yield/plant is not equal to 200.

False

In [33]:
#b.Test whether the natural pollination and hand pollination under
#open field conditions are equally effective or are significantly different.


#H0 : mean Fruit_Wt == mean Seed_Yield_Plant == mean Seedling_length
#H1 : mean Fruit_Wt <> mean Seed_Yield_Plant <> mean Seedling_length

In [34]:
#ANOVA
natural_fruit_wt = poll['Fruit_Wt'].loc[poll.Group == 'Natural']
hand_fruit_wt = poll['Fruit_Wt'].loc[poll.Group == 'Hand']

anova = stats.f_oneway(natural_fruit_wt,hand_fruit_wt)
f1 = anova.statistic
p1 = anova.pvalue
print("The f-value is {} and the p value is {}".format(f1,p1))

The f-value is 312.228532974426 and the p value is 8.078362076486568e-13

In [35]:
natural_seed_yeild = poll['Seed_Yield_Plant'].loc[poll.Group == 'Natural']
hand_seed_yeild = poll['Seed_Yield_Plant'].loc[poll.Group == 'Hand']

anova = stats.f_oneway(natural_seed_yeild,hand_seed_yeild)
f1 = anova.statistic
p1 = anova.pvalue
print("The f-value is {} and the p value is {}".format(f1,p1))

The f-value is 194.83303662980398 and the p value is 4.271481585484407e-11

In [36]:
natural_Seedling_length = poll['Seedling_length'].loc[poll.Group == 'Natural']
hand_Seedling_length = poll['Seedling_length'].loc[poll.Group == 'Hand']

anova = stats.f_oneway(natural_Seedling_length,hand_Seedling_length)
f1 = anova.statistic
p1 = anova.pvalue
print("The f-value is {} and the p value is {}".format(f1,p1))

The f-value is 6.46293337115627 and the p value is 0.020428817064110556

==========================================================================================================

## 4.An electronics firm is developing a new DVD player in response to customer requests. Using a prototype, the marketing team has collected focus data for different age groups viz. Under 25; 25-34; 35-44; 45-54; 55-64; 65 and above. Do you think that consumers of various ages rated the design differently? (Data set: dvdplayer.csv)

In [ ]:
dvd = pd.read_csv(r'C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\7. Basic Stats - Case Study-1\dvdplayer.csv')

In [ ]:
dvd

In [ ]:
#H0:mean (age_group_1(65 and over)) == mean(age_group_2(55-64)) == mean(age_group3(Under 25)) == mean(age_group4(35-54)) == mean(age_group5(45-54)) == mean(age_group_6(25-34)) 
#(Consumers of various age groups rated the design similarly) 
#Ha:mean(age_group_1(65 and over)) != mean(age_group_2(55-64)) != mean(age_group3(Under 25))!= mean(age_group4(35-54)) != mean(age_group5(45-54)) != mean(age_group_6(25-34)) 
#(Consumers of various age groups rated the design differently)

ag1 = dvd['dvdscore'].loc[dvd.agegroup =='65 and over']
ag2 = dvd['dvdscore'].loc[dvd.agegroup =='55-64']
ag3 = dvd['dvdscore'].loc[dvd.agegroup =='Under 25']
ag4 = dvd['dvdscore'].loc[dvd.agegroup =='45-54']
ag5 = dvd['dvdscore'].loc[dvd.agegroup =='35-44']
ag6 = dvd['dvdscore'].loc[dvd.agegroup =='25-34']

anova = stats.f_oneway(ag1,ag2,ag3,ag4,ag5,ag6)
f = anova.statistic
p = anova.pvalue
print("The f-value is {} and the p value is {}".format(f,p))

In [ ]:
#Since the significance value of the test is less than 0.05, we reject the null hypothesis. 
#Therefore,consumers of various ages rated the design differently

=======================================================================================================

## 5.A survey was conducted among 2800 customers on several demographic characteristics. Working status, sex, age, age-group, race, happiness, no. of child, marital status, educational qualifications, income group etc. had been captured for that purpose. (Data set: sample_survey.csv).

In [ ]:
survey = pd.read_csv(r"C:\Users\prana\Desktop\Quarntine\AnalatyicsLab\Python\3._Case_Studies_Final_Projects_-_Python\7. Basic Stats - Case Study-1\sample_survey.csv")

In [ ]:
survey

In [ ]:
#a. Is there any relationship in between labour force status with marital status?
# Chi-Square Test
# H0 : Observed == Expected (No relation between labour force status and marital status)
# Ha : Observed != Expected (There is a realtionship between labour force status and marital status)

In [ ]:
lama = pd.crosstab(survey.wrkstat,survey.marital,margins = True)

In [ ]:
lama

In [ ]:
xtest = stats.chi2_contingency(observed = lama)
xtest

In [ ]:
print("The chi square stat is {} and the p value is {}".format(xtest[0],xtest[1]))

In [ ]:
#b. Do you think educational qualification is somehow controlling the marital status?
# Chi- Square Test
# H0 : Observed == Expected (No relation between educational qualification and marital status)
# Ha : Observed != Expected (There is a realtionship between educational qualification and marital status)

In [ ]:
eduma = pd.crosstab(survey.degree,survey.marital,margins = True)
eduma

In [ ]:
xtest1 = stats.chi2_contingency(observed=eduma)
xtest1

In [ ]:
print("The chi square stat is {} and the p value is {}".format(xtest1[0],xtest1[1]))

In [ ]:
#c.Since the significance value of the test is less than 0.05, we reject the null hypothesis. 
#Therefore there educational qualification is somehow controlling the marital status.

# Happiness w.r.t to earnings
# H0 : Observed == Expected (No relation between happiness and earnings)
# Ha : Observed != Expected (There is a realtionship between happiness and earnings)

In [ ]:
hapin = pd.crosstab(survey.happy,survey.income,margins = True)
hapin

In [ ]:
xtest2 = stats.chi2_contingency(observed=hapin)
xtest2

In [ ]:
print("The chi square stat of happiness w.r.t to earnings {} and the p value is {}".format(xtest2[0],xtest2[1]))

In [ ]:
# Happiness w.r.t to marital status
# H0 : Observed == Expected (No relation between happiness and marital status)
# Ha : Observed != Expected (There is a realtionship between happiness and marital status)

In [ ]:
hapma = pd.crosstab(survey.happy,survey.marital,margins = True)
hapma

In [ ]:
xtest3 = stats.chi2_contingency(observed=hapma)
xtest3

In [ ]:
print("The chi square stat of happiness w.r.t to earnings {} and the p value is {}".format(xtest3[0],xtest3[1]))

In [ ]:
# As it can be clearly seen that chi_square score for (happiness w.r.t to marital status) 
# i.e. 260.68 is more than chi_square score for (happiness w.r.t to marital earnings) i.e 178.95, 
# therefore we can conclude that happiness is driven by marital status